<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/inicio_medico.css') }}">
</head>
<body>
    {%with mensajes=get_flashed_messages() %}
    {%if mensajes%}
        {%for msj in mensajes%}
            <h1>{{ msj }}</h1>
        {%endfor %}
    {%endif %}
    {%endwith%}

    <div class="login-container">
        <h1>Inicio de sesión</h1>
        <p>Sitio administrador</p>
        <form action="/login" method="POST">
            <input type="text" placeholder="RFC" name="rfc" required>
            <input type="password" placeholder="Contraseña" name="contra" required>
            <button type="submit">Iniciar</button>
        </form>
        <a href="#">¿Eres paciente?</a>
    </div>

    
</body>
</html>
