<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {%with mensajes=get_flashed_messages() %}
    {%if mensajes%}
        {%for msj in mensajes%}
            <h1>{{ msj }}</h1>
        {%endfor %}
    {%endif %}
    {%endwith%}
    <h1>Inicio de sesión</h1>

    <div>
        <form action="/login" method="POST">
            <label for="rfc">Ingrese su RFC</label>
            <input type="text" name="rfc">
            <label for="contra">Ingrese su contraseña</label>
            <input type="password" name="contra">
            <button type="submit">Ingresar</button>
        </form>
    </div>

    <div>
</body>
</html>