<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/pacientes.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Pacientes</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for( 'mostrar_citas' ) }}">Citas</a></li>
                <li><a href="{{ url_for( 'mostrar_pacientes' ) }}">Pacientes</a></li>
                <li><a href="{{ url_for( 'mostrar_administracion' ) }}">Administración</a></li>
            </ul>
        </nav>
        <div class="trash-icon">
            <img src="img/trash_icon.png" alt="Trash Icon">
        </div>
    </header>

    <div class="content">
        <div class="left-panel">

            <div class="prox-citas-container">
                <h2 class="prox-citas">Pacientes</h2>
                <!-- Aquí son los botones de filtrado -->
                <div class="filter-buttons">
                    <input class="filter-btn" type="text" id="appointment-date" placeholder="Filtar por fecha" required>
                    <input class="filter-btn" type="text" id="patient-name-filter" placeholder="Filtrar por nombre">
                    <button id="show-all-btn" class="filter-btn">Mostrar todas las citas</button>
                    <button id="add-paciente-btn" class="filter-btn">
                        <img src="{{ url_for('static', filename='img/add-paciente.png') }}" alt="Agregar Paciente">
                    </button>
                </div>

                <div id="modalAddPaciente" class="modal-custom">
                    <div class="modal-content-custom">
                        <span class="close-btn-custom">&times;</span>
                        <h2>Agregar Paciente</h2>
                        <form id="form-add-paciente-custom" action="/agregar_paciente" method="POST">
                            <label for="input-patient-name">Nombre del Paciente:</label>
                            <input type="text" id="input-patient-name" name="patient-name"
                                placeholder="Escribe el nombre empezando por apellidos" required>

                            <label for="input-patient-ap">Apellido Paterno:</label>
                            <input type="text" id="input-patient-ap" name="apellidoP"
                                placeholder="Escribe el apellido paterno" required>

                            <label for="input-patient-am">Apellido Materno:</label>
                            <input type="text" id="input-patient-am" name="apellidoM"
                                placeholder="Escribe el apellido materno" required>

                            <label for="input-birth-date">Fecha de Nacimiento:</label>
                            <input type="date" id="input-birth-date" name="birth-date" required>

                            <label for="input-chronic-diseases">Enfermedades Crónicas:</label>
                            <textarea id="input-chronic-diseases" name="chronic-diseases"
                                placeholder="Describe las enfermedades crónicas del paciente"></textarea>

                            <label for="input-allergies">Alergias:</label>
                            <textarea id="input-allergies" name="allergies"
                                placeholder="Describe las alergias del paciente"></textarea>

                            <label for="input-family-history">Antecedentes Familiares:</label>
                            <textarea id="input-family-history" name="family-history"
                                placeholder="Describe los antecedentes familiares"></textarea>

                            <button type="submit">Agregar</button>
                        </form>
                    </div>
                </div>


                <script>
                    // Selección de elementos del DOM
                    var modalAddPaciente = document.getElementById("modalAddPaciente");
                    var btnAddPaciente = document.getElementById("add-paciente-btn");
                    var spanCloseAddPaciente = document.getElementsByClassName("close-btn-custom")[0];

                    // Muestra el modal cuando se hace clic en el botón
                    btnAddPaciente.onclick = function () {
                        modalAddPaciente.style.display = "block";
                    }

                    // Cierra el modal cuando se hace clic en la "X"
                    spanCloseAddPaciente.onclick = function () {
                        modalAddPaciente.style.display = "none";
                    }

                    // Cierra el modal si se hace clic fuera del contenido del modal
                    window.onclick = function (event) {
                        if (event.target == modalAddPaciente) {
                            modalAddPaciente.style.display = "none";
                        }
                    }
                </script>

            </div>


            <!-- Aquí empieza el contenedor del paciente -->

            <!--En esta sección se ven todos los pacientes de un médico literal con el for y ya-->
            {% for paci in pacientes %}
            <div class="appointment-item" data-date="2024-01-31"
                onclick="showDetails('{{paci.1}}', '{{paci.2}}', '{{paci.3}}', '{{paci.4}}', '{{paci.5}}', '{{paci.6}}', '{{paci.7}}','2024-01-31', 'img/hoshii.png', '{{ paci.0 }}')">
                <div class="appointment-info">
                    <!-- Nombre que se muestra dependiendo de la bd -->
                    <p>{{ paci.1 }} {{ paci.2 }} {{ paci.3 }}</p>

                    <!-- Fecha que se muestra dependiendo de la bd, esta tiene formato de año-mes-dia -->
                    <span>Fecha de registro: {{ paci.10 }}</span>
                </div>
                <div class="appointment-actions">

                    <!-- Este es el boton que manda a llamar el Modal que edita al paciente -->
                    <button class="delete-btn"
                        onclick="showEditModal('{{ paci.1 }}', '{{ paci.2 }}', '{{ paci.3 }}', '{{ paci.4 }}', '{{ paci.5 }}', '{{ paci.6 }}', '{{ paci.7 }}', '{{ paci.0 }}')">
                        <img src="{{ url_for('static', filename='img/edit_icon.png') }}" alt="Edit">
                    </button>

                    <!-- Este es el boton que manda a llamar el Modal que borra al paciente, PERO no lo va a borrar completamente, si se llega a poder se debe mandar a la "papelera". pero sino se puede, pues si se borra alv -->
                    <button class="delete-btn"
                        onclick="showDeleteConfirmation('{{ paci.0 }}', '{{ paci.1 }}', '{{ paci.2 }}', '{{ paci.3 }}')">
                        <img src="{{ url_for('static', filename='img/trash_icon.png') }}" alt="Delete">
                    </button>

                </div>

                <!-- Modal para editar paciente -->
                <div id="modalEditPaciente" class="modal-custom">
                    <div class="modal-content-custom">
                        <span class="close-btn-custom">&times;</span>
                        <h2>Editar Paciente</h2>
                        <form id="form-edit-paciente-custom" action="/editar_paciente" method="POST">
                            <input type="text" id="edit-idPac" name="edit-idPac">

                            <label for="edit-patient-name">Nombre del Paciente:</label>
                            <input type="text" id="edit-patient-name" name="edit-patient-name" required>

                            <label for="edit-apellidoP">Apellido Paterno:</label>
                            <input type="text" id="edit-ap" name="edit-apellidoP" required>

                            <label for="edit-apellidoM">Apellido Materno:</label>
                            <input type="text" id="edit-am" name="edit-apellidoM" required>

                            <label for="edit-birth-date">Fecha de Nacimiento:</label>
                            <input type="date" id="edit-birth-date" name="edit-birth-date" required>

                            <label for="edit-chronic-diseases">Enfermedades Crónicas:</label>
                            <textarea id="edit-chronic-diseases" name="edit-chronic-diseases"
                                placeholder="Describe las enfermedades crónicas del paciente"></textarea>

                            <label for="edit-allergies">Alergias:</label>
                            <textarea id="edit-allergies" name="edit-allergies"
                                placeholder="Describe las alergias del paciente"></textarea>

                            <label for="edit-family-history">Antecedentes Familiares:</label>
                            <textarea id="edit-family-history" name="edit-family-history"
                                placeholder="Describe los antecedentes familiares"></textarea>

                            <button type="submit">Guardar Cambios</button>
                        </form>
                    </div>
                </div>

                <!-- Modal de confirmación de eliminación -->
                <div id="modalDeleteConfirmation" class="modal-custom">
                    <div class="modal-content-custom">
                        <span class="close-btn-custom" onclick="closeDeleteConfirmation()">&times;</span>
                        <h2>¿Estás seguro de que quieres borrar al fucking paciente con nombre {{paci.0 }} {{paci.1 }}
                            {{paci.2 }}?</h2>
                        <div class="modal-buttons">
                            <button id="confirm-delete-btn" class="filter-btn">Sí</button>
                            <button id="cancel-delete-btn" class="filter-btn">No</button>
                        </div>
                    </div>
                </div>


                <!-- Modal de éxito de eliminación -->
                <div id="modalDeleteSuccess" class="modal-custom">
                    <div class="modal-content-custom">
                        <span class="close-btn-custom" onclick="closeDeleteSuccess()">&times;</span>
                        <h2>El paciente se ha borrado correctamente</h2>
                    </div>
                </div>


                <!-- Script de modal que elimina al paciente -->
                <script>
                    var deleteConfirmationModal = document.getElementById("modalDeleteConfirmation");
                    var deleteSuccessModal = document.getElementById("modalDeleteSuccess");
                    var confirmDeleteBtn = document.getElementById("confirm-delete-btn");
                    var cancelDeleteBtn = document.getElementById("cancel-delete-btn");
                    var deletePatientId = null; // Variable para almacenar el ID del paciente a eliminar

                    function showDeleteConfirmation(patientId, nombre, ap, am) {
                        deletePatientId = patientId;

                        var modalText = document.querySelector("#modalDeleteConfirmation h2");
                        modalText.textContent = `¿Estás seguro de que quieres borrar al paciente con nombre ${nombre} ${ap} ${am}?`;
                        deleteConfirmationModal.style.display = "block";
                    }

                    function closeDeleteConfirmation() {
                        deleteConfirmationModal.style.display = "none";
                    }

                    function closeDeleteSuccess() {
                        deleteSuccessModal.style.display = "none";
                    }

                    function logicdelPac(IdPac) {
                        // Aquí debes añadir la lógica para eliminar al paciente con `IdPac`
                        const xhr = new XMLHttpRequest();
                        xhr.open('POST', '/borrar_paciente_logico', true);
                        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                        xhr.onload = function () {
                            // Puedes añadir algún manejo de respuesta aquí si es necesario
                            if (xhr.status === 200) {
                                // Lógica después de eliminar exitosamente el paciente
                                console.log('Paciente eliminado exitosamente');
                            } else {
                                console.error('Error al eliminar el paciente');
                            }
                        };
                        xhr.send(JSON.stringify({
                            ID_borrar: IdPac
                        }));

                    }

                    confirmDeleteBtn.onclick = function () {
                        // Aquí debes añadir la lógica para eliminar al paciente con `deletePatientId`
                        logicdelPac(deletePatientId);

                        closeDeleteConfirmation();
                        deleteSuccessModal.style.display = "none";
                    }

                    cancelDeleteBtn.onclick = function () {
                        closeDeleteConfirmation();
                    }

                    window.onclick = function (event) {
                        if (event.target == deleteConfirmationModal) {
                            closeDeleteConfirmation();
                        }
                        if (event.target == deleteSuccessModal) {
                            closeDeleteSuccess();
                        }
                    }
                </script>



                <!-- Script del modal de editar paciente -->
                <script>
                    // Selección de elementos del DOM
                    var modalEditPaciente = document.getElementById("modalEditPaciente");
                    var spanCloseEditPaciente = document.getElementsByClassName("close-btn-custom")[1]; // Nota: Cambiado a [1] para seleccionar el segundo elemento de la clase

                    // Función para mostrar el modal con los datos del paciente
                    function showEditModal(patientName, apellidoP, apellidoM, birthDate, chronicDiseases, allergies, familyHistory, idPaciente) {
                        document.getElementById('edit-idPac').value = idPaciente;
                        document.getElementById('edit-patient-name').value = patientName;
                        document.getElementById('edit-ap').value = apellidoP;
                        document.getElementById('edit-am').value = apellidoM;
                        document.getElementById('edit-birth-date').value = birthDate;
                        document.getElementById('edit-chronic-diseases').value = chronicDiseases;
                        document.getElementById('edit-allergies').value = allergies;
                        document.getElementById('edit-family-history').value = familyHistory;

                        modalEditPaciente.style.display = "block";
                    }

                    // Cierra el modal de edición cuando se hace clic en la "X"
                    spanCloseEditPaciente.onclick = function () {
                        modalEditPaciente.style.display = "none";
                    }

                    // Cierra el modal si se hace clic fuera del contenido del modal
                    window.onclick = function (event) {
                        if (event.target == modalEditPaciente) {
                            modalEditPaciente.style.display = "none";
                        }
                    }
                </script>

            </div>
            {% endfor %}

        </div>

        <!-- Este es el lado donde de mostraran los detalles del paciente, las recetas y citas -->
        <div class="right-panel">
            <h2 class="prox-citas">Detalles del paciente</h2>

            <!-- Este es el contenedor de los detalles del paciente, se conecta a la bd -->
            <div class="detalles-pacientes">
                <div class="details-container">
                    <div class="appointment-info">
                        <div class="details-info">
                            <p>Nombre del paciente: <span id="patient-name"></span></p>
                            <br>
                            <p>Nombre del paciente: <span id="patient-ap"></span></p>
                            <br>
                            <p>Nombre del paciente: <span id="patient-am"></span></p>
                            <br>
                            <p>Fecha de nacimiento: <span id="patient-birthday"></span></p>
                            <br>
                            <p>Enfermedades crónicas: <span id="patient-chronicDiseases"></span></p>
                            <br>
                            <p>Alergias: <span id="patient-allergies"></span></p>
                            <br>
                            <p>Antecedentes familiares: <span id="patient-familyHistory"></span></p>
                            <br>
                            <p>Ultima cita: <span id="patient-appointment"></span></p>

                            <input type="hidden" id="hid_pacId">
                        </div>
                    </div>
                    <div class="profile-picture">
                        <img id="profile-picture" src="default-profile.png" alt="Foto de perfil">
                    </div>
                </div>

                <!--Boton para el modal de expedientes-->
                <div class="action-buttons">
                    <button id="patient-file-btn" class="filter-btn"
                        onclick="showExpedientPatient()">
                        Exploración
                    </button>
                </div>

                <!-- Modal para Expediente del Paciente -->
                <!-- Modal de Expediente -->
                <div id="modalExpedient" class="modal-custom">
                    <div class="modal-content-custom">
                        <span class="close-btn-custom">&times;</span>
                        <h2>Expediente del Paciente</h2>
                        <form id="form-expedient-patient" action="/exploracion" method="POST">
                            <label for="expedient-patient-name">Nombre del Paciente:</label>
                            <input type="text" id="expedient-patient-name" name="expedient-patient-name" required>

                            <label for="expedient-patient-birthday">Fecha de nacimiento:</label>
                            <input type="date" id="expedient-patient-birthday" name="expedient-patient-birthday"
                                required>

                            <label for="expedient-patient-chronicDiseases">Enfermedades crónicas:</label>
                            <textarea id="expedient-patient-chronicDiseases"
                                name="expedient-patient-chronicDiseases"></textarea>

                            <label for="expedient-patient-allergies">Alergias:</label>
                            <textarea id="expedient-patient-allergies" name="expedient-patient-allergies"></textarea>

                            <label for="expedient-patient-familyHistory">Antecedentes familiares:</label>
                            <textarea id="expedient-patient-familyHistory"
                                name="expedient-patient-familyHistory"></textarea>

                            <label for="expedient-patient-age">Edad:</label>
                            <input type="number" id="expedient-patient-age" name="expedient-patient-age" required>

                            <label for="expedient-patient-weight">Peso (kg):</label>
                            <input type="number" id="expedient-patient-weight" name="expedient-patient-weight"
                                step="0.1" required>

                            <label for="expedient-patient-height">Altura (cm):</label>
                            <input type="number" id="expedient-patient-height" name="expedient-patient-height" required>

                            <label for="expedient-patient-temperature">Temperatura (°C):</label>
                            <input type="number" id="expedient-patient-temperature" name="expedient-patient-temperature"
                                step="0.1" required>

                            <label for="expedient-patient-temperature">Nivel de oxígeno (%):</label>
                            <input type="number" id="expedient-patient-oxigen" name="expedient-patient-oxigen"
                                step="0.1" required>

                            <label for="expedient-patient-temperature">Nivel de glucosa:</label>
                            <input type="number" id="expedient-patient-glucosa" name="expedient-patient-glucosa"
                                step="0.1" required>

                            <label for="expedient-patient-heartRate">Latidos por Minuto:</label>
                            <input type="number" id="expedient-patient-heartRate" name="expedient-patient-heartRate"
                                required>


                            <label for="expedient-patient-lastAppointment">Última cita:</label>
                            <input type="date" id="expedient-patient-lastAppointment"
                                name="expedient-patient-lastAppointment">

                            <input type="hidden" id="idPaciente" name="idPaciente">

                            <button type="submit">Guardar Exploración</button>
                        </form>
                    </div>
                </div>

                <script>
                    // Selección de elementos del DOM para el modal de expediente
                    var modalExpedient = document.getElementById("modalExpedient");
                    var spanCloseExpedient = document.getElementsByClassName("close-btn-custom")[0];

                    function showExpedientPatient() {
                        const name = document.getElementById('patient-name').innerText;
                        const ap = document.getElementById('patient-ap').innerText;
                        const am = document.getElementById('patient-am').innerText;
                        const birthday = document.getElementById('patient-birthday').innerText;
                        const chronicDiseases = document.getElementById('patient-chronicDiseases').innerText;
                        const allergies = document.getElementById('patient-allergies').innerText;
                        const familyHistory = document.getElementById('patient-familyHistory').innerText;
                        const appointment = document.getElementById('patient-appointment').innerText;
                        const IdPac=document.getElementById('hid_pacId').value;

                        // Llenar el modal con estos valores
                        document.getElementById('expedient-patient-name').value = name + ' ' + ap + ' ' + am;
                        document.getElementById('expedient-patient-birthday').value = birthday;
                        document.getElementById('expedient-patient-chronicDiseases').value = chronicDiseases;
                        document.getElementById('expedient-patient-allergies').value = allergies;
                        document.getElementById('expedient-patient-familyHistory').value = familyHistory;
                        document.getElementById('expedient-patient-lastAppointment').value = appointment;
                        document.getElementById('idPaciente').value=IdPac;

                        // Mostrar el modal
                        modalExpedient.style.display = "block";
                    }


                    // Cierra el modal de expediente cuando se hace clic en la "X"
                    spanCloseExpedient.onclick = function () {
                        modalExpedient.style.display = "none";
                    }

                    // Cierra el modal de expediente si se hace clic fuera del contenido del modal
                    window.onclick = function (event) {
                        if (event.target == modalExpedient) {
                            modalExpedient.style.display = "none";
                        }
                    }
                </script>

            </div>

            <!-- Botones de control para recetas y citas-->
            <div class="toggle-buttons">
                <button id="show-recipes-btn" class="filter-btn">Recetas</button>
                <button id="show-appointments-btn" class="filter-btn">Citas</button>
                <button id="show-generateRecipes-btn" class="filter-btn">Generar Receta</button>
            </div>

            <!-- Contenedores de recetas y citas, se conectan a la bd-->
            <div id="recipes-section" class="hidden">
                <h3 class="prox-citas">Recetas</h3>

                <!-- Esta es la tarjeta que muestra laS RECETAS, se conecta a la bd -->
                <div class="container-receta">
                    <p>Fecha de receta: </p>
                    <p>Doctor que dio la receta: </p>
                    <p class="report-description preview"> Lorem ipsum dolor sit amet consectetur adipisicing elit...
                    </p>
                    <div class="details-button">
                        <button class="filter-btn">Detalles</button>
                    </div>
                </div>

            </div>

            <div id="appointments-section">
                <h3 class="prox-citas">Citas</h3>

                <!-- Esta es la tarjeta que muestra las CITAS, se conecta a la bd -->
                <div class="container-receta">
                    <p>Fecha de cita: </p>
                    <p>Doctor que dio la cita: </p>
                    <p class="report-description preview"> Lorem ipsum dolor sit amet consectetur adipisicing elit...
                    </p>
                    <div class="details-button">
                        <button class="filter-btn">Detalles</button>
                    </div>
                </div>

            </div>

            <div id="generateRecipes-section" class="hidden">
                <h3 class="prox-citas">Generador de recetas</h3>

                <!-- Esta es la tarjeta que muestra las CITAS, se conecta a la bd -->
                <div class="container-receta">
                    <form action="/nueva_receta" method="POST">
                        <label for="paciente">Nombre del paciente:</label>
                        <input type="text" id="paciente" name="paciente">

                        <input type="hidden" id="receta_id_pac_hid" name="receta_id_pac_hid">

                        <label for="medico">Nombre del médico:</label>
                        <input type="text" id="medico" name="medico" value="{{ doctor.0 }} {{ doctor.1 }} {{ doctor.2 }}">

                        <label for="medicamentos">Medicamentos:</label>
                        <input type="text" id="medicamentos" name="medicamentos">

                        <div class="details-button">
                            <button class="filter-btn" type="submit">Generar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>




    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Flatpickr en español -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
    <!-- Inicializa Flatpickr -->
    <script>
        flatpickr("#appointment-date", {
            dateFormat: "Y-m-d", // Formato que se usará para el valor del input
            altInput: true,
            altFormat: "d-m-Y", // Formato visible al usuario
            allowInput: true,
            disableMobile: "true",
            locale: "es",
        });
    </script>


    <script>
        document.getElementById('appointment-date').addEventListener('input', function () {
            const selectedDate = this.value;
            const appointments = document.querySelectorAll('.appointment-item');

            appointments.forEach(function (appointment) {
                const appointmentDate = appointment.getAttribute('data-date');
                if (appointmentDate === selectedDate) {
                    appointment.style.display = 'flex';
                } else {
                    appointment.style.display = 'none';
                }
            });
        });
    </script>


    <script src="{{ url_for('static', filename='js/script-pacientes.js') }}"></script>

    <script>
        document.getElementById('show-recipes-btn').addEventListener('click', function () {
            document.getElementById('recipes-section').style.display = 'block';
            document.getElementById('appointments-section').style.display = 'none';
            document.getElementById('generateRecipes-section').style.display = 'none';
        });

        document.getElementById('show-appointments-btn').addEventListener('click', function () {
            document.getElementById('recipes-section').style.display = 'none';
            document.getElementById('appointments-section').style.display = 'block';
            document.getElementById('generateRecipes-section').style.display = 'none';
        });

        document.getElementById('show-generateRecipes-btn').addEventListener('click', function () {
            document.getElementById('recipes-section').style.display = 'none';
            document.getElementById('appointments-section').style.display = 'none';
            document.getElementById('generateRecipes-section').style.display = 'block';

            const name = document.getElementById('patient-name').innerText;
            const ap = document.getElementById('patient-ap').innerText;
            const am = document.getElementById('patient-am').innerText;
            const IdPac=document.getElementById('hid_pacId').value;

                        // Llenar el modal con estos valores
            document.getElementById('paciente').value = name + ' ' + ap + ' ' + am;
            document.getElementById('receta_id_pac_hid').value=IdPac
        });
    </script>

</body>

</html>